{% extends 'layout.html' %}
{% block content %}
<style type="text/css">
p{
    font-size: 18px;
}
</style>

<form method="post">
<p class="error">{{ form.errors }}</p>

    {% csrf_token %}
    <p>
        <label for="id_first_name">First name:</label>
        <input id="id_first_name" type="id_first_name" name="first_name" value="{{ form.first_name.value|default:'' }}"></input> 
    </p>
    
    <p>
        <label for="id_last_name">Last name:</label>
        <input id="id_last_name" type="id_last_name" name="last_name" value="{{ form.last_name.value|default:'' }}"></input>
    </p>

    <p>
        <label for="id_birth_date">Birth date:</label>
        <input id="id_birth_date" type="text" name="birth_date" value="{{ form.birth_date.value|default:'' }}"></input>
    </p>

    <p>
        <label for="id_email">Email:</label>
        <input id="id_email" type="id_email" name="email" value="{{ form.email.value|default:'' }}"></input> 
    </p>

    <p>
        <label for="id_username">Username:</label>
        <input id="id_username" type="text" name="username" maxlength="30" value="{{ form.username.value|default:'' }}"></input>
        <span class="helptext"> Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
    </p>
    
    <p>
        <label for="id_password1"> Password:</label>
        <input id="id_password1" type="password" name="password1"></input>    
    </p>

    <p>
        <label for="id_password2">Password confirmation:</label>
        <input id="id_password2" type="password" name="password2"></input>
        <span class="helptext">Enter the same password as before, for verification.</span>
    </p>
    </br>
    <button type="submit">Create Account</button>
</form>
{% endblock %}
